<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
      alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Iniciar sesión en su cuenta</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
      <div>
        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <!-- <div *ngIf="username.invalid && (username.dirty || username.touched)" class="inline-block ml-1">
          <div *ngIf="username.errors?.['required']">
            <p class="text-red-500 text-xs italic ">El email es requerido.</p>
          </div>
          <div *ngIf="username.errors?.['email']">
            <p class="text-red-500 text-xs italic ">El email debe tener un formato valido.</p>
          </div>
        </div> -->
        <div class="mt-2">
          <input formControlName="username"  name="username" type="email" autocomplete="email"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="inline-block ml-1">
            <div *ngIf="password.errors?.['required']">
              <p class="text-red-500 text-xs italic">El password es requerido.</p>
            </div>
            <div class=" " *ngIf="password.invalid && password.hasError('minlength')">
              <p class="text-red-500 text-xs italic">Al menos 8 caracteres.</p>
            </div>
          </div> -->
          <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input formControlName="password" name="password" type="password" autocomplete="current-password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ingresar</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
    </p>
  </div>
</div>
