<div class="bg-white container mx-auto">
  <header class="relative bg-white">
    <p
      class="flex h-10 items-center justify-center rounded bg-yellow-400 px-4 text-sm font-semibold text-slate-700 sm:px-6 lg:px-8">
      La tienda Online de ChangoMâs</p>

    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="border-b border-gray-200">
        <div class="flex h-16 items-center">
          <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
          <button type="button" class="relative rounded-md bg-white p-2 text-gray-400 lg:hidden">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
          <!-- Logo -->
          <div class="ml-4 flex lg:ml-0">
            <a href="#">
              <span class="sr-only">Your Company</span>
              <img class="h-8 w-auto" src="./../../../assets/img/icono.svg" alt="">
            </a>
          </div>
          <div class="ml-auto flex items-center">
            <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
              <!-- <a class="text-sm font-medium text-gray-700 hover:text-gray-800">{{userIsVip}}</a> -->
              <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
              <a class="text-sm font-medium text-gray-700 hover:text-gray-800">{{userLogued}}</a>
            </div>

            <div class="hidden lg:ml-8 lg:flex">
              <a href="#" class="flex items-center text-gray-700 hover:text-gray-800">
                <img src="../../../../assets/img/bandera-arg.png" alt=""
                  class="block h-auto w-5 flex-shrink-0">
                <span class="ml-3 block text-sm font-medium">ARG</span>
                <span class="sr-only"></span>
              </a>
            </div>

            <!-- Search -->
            <div class="flex lg:ml-6">
              <a href="#" class="p-2 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Search</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
              </a>
            </div>

            <!-- Cart -->
            <div class="ml-4 flow-root lg:ml-6">
              <a routerLink="/cart" class="group -m-2 flex items-center p-2">
                <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none"
                  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{countProduct}}</span>
                <span class="sr-only">items in cart, view bag</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
      <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a routerLink="/home" class="mr-2 text-sm font-medium text-gray-900">Home</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
              class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a routerLink="/users" class="mr-2 text-sm font-medium text-gray-900">Usuarios</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
              class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a routerLink="/users-vip" class="mr-2 text-sm font-medium text-gray-900">Alta vip</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
              class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a routerLink="/users-stop" class="mr-2 text-sm font-medium text-gray-900">Baja vip</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
              class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
      </ol>
    </nav>
  </div>

  <body *ngIf="cart">
    <div class=" pt-20">
      <ng-container>
        <h1 class=" mb-3 rounded text-center text-2xl pb-3 font-semibold">
          Tipo de Carrito: {{cart.cartType}}</h1>
        <p class="text-green-400 text-sm font-medium text-center pb-4"
          *ngIf="cart.cartType === 'STANDARD' && products.length == 4">
          Si compras 4 productos hay un descuento del %25 sobre la compra.
        </p>
        <p class="text-green-400 text-sm font-medium text-center pb-4"
          *ngIf="cart.cartType === 'SPECIAL_DATE_PROMO' && products.length == 4">
          Si compras 4 productos hay un descuento del %25 sobre la compra.
        </p>
        <p class="text-green-400 text-sm font-medium text-center pb-4"
          *ngIf="cart.cartType === 'VIP_PROMO' && products.length == 4">
          Si compras 4 productos hay un descuento del %25 sobre la compra.
        </p>
        <p class="text-green-400 text-sm font-medium text-center pb-4"
          *ngIf="cart.cartType === 'STANDARD' && products.length > 10">
          Si compras mas de 10 productos hay un descuento de $100 sobre la compra.
        </p>
        <p class="text-green-400 text-sm font-medium text-center pb-4"
          *ngIf="cart.cartType === 'SPECIAL_DATE_PROMO' && products.length > 10">
          Si compras mas de 10 productos hay un descuento de $300 sobre la compra.
        </p>
        <p class="text-green-400 text-sm font-medium text-center pb-4"
          *ngIf="cart.cartType === 'VIP_PROMO' && products.length > 10">
          Si compras mas de 10 productos hay un descuento de $500 sobre la compra y se bonifica el producto más barato.
        </p>
        <p class="text-green-400 text-sm font-medium text-center pb-4" *ngIf="messageStatus.length != null">
          {{messageStatus}}
        </p>


        <div *ngIf="products.length > 0" class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
          <div class="rounded-lg md:w-2/3 max-h-[400px] overflow-y-auto">
            <div *ngFor="let product of products"
              class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
              <img src="{{product.urlImage}}" alt="product-image" class="w-full rounded-lg sm:w-40" />
              <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                <div class="mt-5 sm:mt-0">
                  <h2 class="text-lg font-bold text-gray-900">{{product.name}}</h2>
                  <p class="mt-1 text-xs text-gray-700">36EU - 4US</p>
                </div>
                <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                  <div class="flex items-center border-gray-100">
                    <span
                      class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50">
                      - </span>
                    <!-- <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="2"
                      min="1" /> -->
                    <span
                      class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50">
                      + </span>
                  </div>
                  <div class="flex items-center space-x-4">
                    <p class="text-sm">${{product.price}}</p>
                    <svg (click)="removeProductFromCart(product.id)" xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                      class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Sub total -->
          <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
            <div class="mb-2 flex justify-between">
              <p class="text-gray-700">Subtotal</p>
              <p class="text-gray-700">${{subTotal}}</p>
            </div>
            <div class="flex justify-between">
              <p class="text-gray-700">Descuento</p>
              <p *ngIf="cart.cartType === 'STANDARD' && products.length === 4" class="text-gray-700">%25</p>
              <p *ngIf="cart.cartType === 'SPECIAL_DATE_PROMO' && products.length === 4" class="text-gray-700">%25</p>
              <p *ngIf="cart.cartType === 'VIP_PROMO' && products.length === 4" class="text-gray-700">%25</p>
              <p *ngIf="cart.cartType === 'STANDARD' && products.length > 10" class="text-gray-700">$100</p>
              <p *ngIf="cart.cartType === 'SPECIAL_DATE_PROMO' && products.length > 10" class="text-gray-700">$300</p>
              <p *ngIf="cart.cartType === 'VIP_PROMO' && products.length > 10" class="text-gray-700">$500</p>
            </div>
            <hr class="my-4" />
            <div class="flex justify-between">
              <p class="text-lg font-bold">Total</p>
              <div class="">
                <p class="mb-1 text-lg font-bold">${{total}} </p>
                <p class="text-sm text-gray-700">including VAT</p>
              </div>
            </div>
            <button (click)="buyCart()"
              class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">Comprar</button>
          </div>
        </div>
      </ng-container>

      <div class="shadow-2xl h-50 py-20 container mx-auto " *ngIf="products.length === 0">
        <h1 class="mb-10 text-center text-2xl text-slate-500">Carrito vacío</h1>
      </div>
    </div>
  </body>
</div>
